* {
    box-sizing: border-box;
}

main{

    width: 100vw;
    height: 100vh;
    display: flex;
    // flex-flow: row nowrap;

    justify-content: center;

    background-color: #8ec5fc;
    background-image: linear-gradient(to top, #9ce0e8, #afeae0, #c9f2db, #e4f8da, #fefedf);

    

    @media (min-width: 600px) {

        justify-content: space-between;
        background: transparent;

        .bg_div{
            // flex-grow: 4;
            width: 60%;
            display: block;
            background-image: url("../../assets/TRY.png");
            background-repeat: no-repeat;
            // width: 75%;
            // border-radius
        }
    
    
        .content{
            // flex-shrink: 1;
            width: 40%;
            // header{
            //     h2{
            //         // font-size: medium;

            //     }

    
            // }

            #invalidLogin{
                padding: 1%;
            }
            
            // mat-card{
                
            //     form{
    
            //     }
            // }
    
        }
    }


    @media (min-width: 768px) {
        
        .bg_div{
            display: block;
            // width: 75%;
            // border-radius
        }
    
    
        .content{
        //     // width: 20%;
        //     header{
        //         h2{
        //             // font-size: larger;
        //         }
        //     }

        #invalidLogin{
            padding: 1%;
        }
            
        //     mat-card{
        //         // width: 70%;
        //         // height: 50%;
        //         form{
    
        //         }
        //     }
    
        }
    }

    @media (min-width: 1024px) {
        
        .bg_div{
            display: block;
            // width: 75%;
            // border-radius
        }
    
    
        .content{
            // width: 20%;
            // header{
    
            // }
            
            mat-card{
                width: 70%;
                height: 50%;
                // form{
    
                // }
            }
    
        }
    }


    .bg_div{
        // display: none; // when on phone
        // width: 75%;
        border-top-right-radius: 7%;
        border-bottom-right-radius: 7%;;
        
        // background-position: 0% 90%;
        // background-attachment: fixed;
        background-size: 100% 100%;
        // background-color: white;
    }

  
    .content{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;

        header{
            font-size: large;
            h2 {
                text-align: center;
                font-weight: bold;
                color: black;
            }
        }

        #invalidLogin{ //mat-card
            position: fixed;
            top: 20vh;
            // width: 80%;
            text-align: center;
            width: fit-content;
            height: min-content;
            // padding: 3%;
            background-color: #f4501e8a;
        
            display: none;
        
            // @media (min-width: 680px) {
            //     width: 50%;
            // }
        }
        
        
        #form_container{ //mat-card

            margin-top: auto;
            margin-bottom: auto;
            background-color: white;
            border-radius: 5%;
            padding: 3% 5%;

            display: flex;
            justify-content: center;

            form{
                display: flex;
                flex-flow: column wrap;
                // justify-content: center;


                // TODO: FIX THIS
                mat-form-field {
                    // margin: auto;
                    width: 100%;
                    // border-color: #afeae0;
                    margin-bottom: 4px;
                }

                //TODO: CHECK THIS
                .buttons {
                    // padding-top: 8px;
                    display: flex;
                    flex-flow: column wrap;
                    // width: 100%;
                
                    button {
                        margin: 4px 0;
                        // width: 100%;
                    }
                
                    #submit:enabled {
                        color: black;
                        background-image: linear-gradient(to right, #9ce0e8, #afeae0, #c9f2db, #e4f8da, #fefedf);
                    }
                }

                div.footer{
                    align-self: center;

                    font-size: small; 
                    text-align: center; 
                    margin-top: 10px;
                }
            }
            
        }

    }
}

#overlay {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
    background-color:#9ce0e881;
    // rgba(180, 179, 179, 0.5);
}
