

main{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-flow: column wrap;
    background-image: url("../../assets/final.png");
    background-repeat:  no-repeat; 
    background-position: 0% 98%;
    // background-size: auto;
    // background-clip: border-box;
    // background-attachment: fixed;
    background-size:70% 70%;

    background-color: white;
}

#overlay{
    display: none;
    // display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
    background-color: rgba(180, 179, 179, 0.5);

}
header{
    padding: 1%;
    position: fixed;
    top: 0;
    align-self: center;
    font-size: larger;
    // font-family:'Times New Roman', Times, serif;
}

// TODO: increase form size

form{
    // height: 100%;
    // size:200% ;
    width: 22%;
    height: 20%;
    margin: 4%;
        padding: 8% 5% 10%;
        // border: 1px solid rgb(70, 70, 70);
        border-radius: 5%;
        // background-color:rgb(246, 248, 254);

        background-color: white;
}

mat-form-field{
 width: 100%;
 margin-bottom: 1%;
//  height: 100%;

}



.buttons{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
    width: 100%;
    button{
        margin: 4px 0;
        width: 100%;
    }
}


@media screen and (min-width: 768px){
    main{
        background-position: 0 65%;
        // background-size: auto;
        // background-clip: border-box;
        background-attachment: fixed;
        background-size: 60% 80%;

    }

    // form{
    //     // height: 100%;
    //     // margin: 4%;
    //     // padding: 12% 5%;

    // }
}