<main>
 
  <mat-card id="invalidLogin">
    incorrect email or password!
  </mat-card>

  <div class="login-container">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
      <header>
        <h2>{{ title }}</h2>
      </header>
      
      <div class="form-field">
        <mat-form-field appearance="outline" class="form-group" id="email">
          <mat-label>Email</mat-label>
          <input class="email" matInput type="email" class="form-control" formControlName="email" required />

          <!-- conditional error messages -->
          @if (email.invalid){
          <mat-error class="form-control-feedback">
            {{ getEmailError() }}
          </mat-error>
          }
          <!-- @else { 
            set this email input's bg color to green ??
    } -->
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field appearance="outline" class="form-group" id="password">
          <mat-label>Password</mat-label>
          <input matInput class="form-control" formControlName="password" required
            [type]="hide ? 'password' : 'text'" />
          @if (password.invalid){
          <mat-error class="form-control-feedback">
            {{ getPasswordError() }}
          </mat-error>
          }

          <button type="button" mat-icon-button matSuffix class="showPassword" (click)="hide = !hide"
            [attr.aria-pressed]="hide" id="hidePassword">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="buttons">
        <button color="primary" mat-raised-button id="submit" class="simple-button" type="submit"
          [disabled]="loginForm.invalid" [ngClass]="{ onEnable: !loginForm.invalid }">
          Submit
        </button>
        <button mat-raised-button class="reset-button" (click)="formReset()" type="reset">
          Reset
        </button>
      </div>

      <p style="font-size: small; text-align: center; margin-top: 15px">
        New here?
        <button type="button" style="text-decoration: underline" mat-button (click)="routeToSignup()">
          Signup
        </button>
      </p>
    </form>

    <div id="overlay">
      <mat-spinner id="spinner" style="position: fixed; z-index: 2; align-self: center; size: 200%">
      </mat-spinner>
    </div>
  </div>

</main>