<head>
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" /> -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<main>
    
    <mat-button-toggle-group [formControl]="displayCategory" appearance="standard" aria-label="Display Category">
        <mat-button-toggle value="All" (click)="display.emit('All')">All</mat-button-toggle>
        <mat-button-toggle value="Electronics" (click)="display.emit('Electronics')">Electronics</mat-button-toggle>
        <mat-button-toggle value="Non-Electronics" (click)="display.emit('NonElectronics')">Non-Electronics</mat-button-toggle>
    </mat-button-toggle-group>


    <div class="row">

        
        <!-- <div id="search"> -->
            <mat-form-field mat-input appearance="outline" color="primary" class="input">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event, selected)" #inputT />
                <div class="select"> 
                    <!-- <mat-form-field appearance="outline" >
                        
                        <mat-label>Search By</mat-label>
                        <mat-select formControlName="searchBy" required placeholder="Select search type" #selectedType>
                            @for (type of ["Assign To", "Status"]; track type){
                            <mat-option [value]="type">{{type}}</mat-option>
                            }
                        </mat-select>
                    
                    </mat-form-field> -->
                    <button mat-button id="dropdown" (click)="showOptions()" #dropdown>{{label}}
                        <span class="material-symbols-outlined" style="vertical-align:middle;">
                            arrow_drop_down
                        </span>
                    </button>
                    <!-- <div id="options"> -->
                        <ul id="options">
                            <li><button mat-button (click)="selectOption('all', 'All')">All</button></li>
                            <li><button mat-button (click)="selectOption('assignedTo', 'Assigned To')">Assigned To</button></li>
                            <li><button mat-button (click)="selectOption('status', 'Status')">Status</button></li>
                        </ul>
                    <!-- </div> -->
                </div>
            </mat-form-field>
        <!-- </div> -->



        <div class="filterButton">
            <span class="material-symbols-outlined">
                filter_alt
            </span>
        </div>

        <!-- BUTTONS -->
        <div class="navButtons">
            <!-- TODO: DISABLE IF AN AVAILABLE ITEM SELECTED? -->
            <button mat-raised-button (click)="unassign()" class="addButton" [disabled]="unassignButtonDisabled">

                <span id="icon" class="material-symbols-outlined">remove</span>
                <span class="text">
                    Unassign item</span>
            </button>

            <button id="deleteButton" (click)="removeData()" mat-raised-button [disabled]="deleteButtonDisabled"
                class="demo-button">
                <span class="material-symbols-outlined">delete</span>
                <span class="text">
                    Remove data
                </span>
            </button>
        </div>

        <!-- FILTERS -->
        <div class="filterBoxes">
            <!-- FOR ASSIGNED TO -->
            <mat-form-field appearance="outline">
                <mat-label>Assigned To</mat-label>
                <input matInput (keyup)="applyFilter($event, 'assignedTo')" #input />
            </mat-form-field>

            <!-- FOR STATUS -->
            <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <input matInput (keyup)="applyFilter($event, 'status')" #inputS />
            </mat-form-field>
        </div>
    </div>

    <!-- FILTER -->
    <!-- GENERAL -->
    <!-- <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event, 'general')" #inputGeneral>  -->
    <!-- #inputGeneral -->
    <!-- </mat-form-field> -->

    <section class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="example-container mat-elevation-z8" tabindex="0">
            <caption  class="tilt-neon-font">
                <!-- <p class="captionP"> -->
                Inventories
                <!-- </p> -->
            </caption>

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select" class="checkBoxCol">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox 
                    (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" 
                        [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox 
                    (click)="$event.stopPropagation()" 
                    (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" 
                        [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>


            <!-- TODO: ALLOW TO EXPAND  -->
            <!-- ID -->
            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <!-- Category -->
            <ng-container matColumnDef="Category">
                <th class="hideOnMobile" mat-header-cell *matHeaderCellDef>Category</th>
                <td class="hideOnMobile" mat-cell *matCellDef="let element">{{ element.category }}</td>
            </ng-container>

            <!-- Sub-Category -->
            <ng-container matColumnDef="Sub-Category" >
                <th mat-header-cell *matHeaderCellDef>Sub-Category</th>
                <td mat-cell *matCellDef="let element">{{ element.subCategory }}</td>
            </ng-container>

            <!-- COMMON -->
            <!-- Name -->
            <ng-container matColumnDef="Name" class="hideOnMobile">
                <th class="hideOnMobile" mat-header-cell *matHeaderCellDef>Name</th>
                <td class="hideOnMobile" mat-cell *matCellDef="let element">
                    @if(element.category=="Electronics"){
                        {{ element.model.name }}
                    }
                    @else {
                        {{ element.brandName }}
                    }
                </td>
            </ng-container>

            <!-- Specifications -->
            <!-- for electronic: memory and screen size  -->
            <!-- for non-electronic: color, size, dimensions -->
            <ng-container matColumnDef="Specifications" class="hideOnMobile">
                <th class="hideOnMobile" mat-header-cell *matHeaderCellDef>Specifications</th>
                <td class="hideOnMobile" mat-cell *matCellDef="let element">
                    @if(element.category=="Electronics"){
                        {{ element.model.memory }} {{ element.specification.screenSize }}
                    }
                    @else if(element.category=="Non-Electronics") {
                        {{ element.dimensions }} {{ element.size }} {{ element.color }}
                    }
                </td>
            </ng-container>

            <!-- ELECTRONIC -->
            <!-- MODEL -->
            <!-- Model Name -->
            <ng-container matColumnDef="Model Name" class="hideOnMobile">
                <th class="hideOnMobile" mat-header-cell *matHeaderCellDef>Model Name</th>
                <td class="hideOnMobile" mat-cell *matCellDef="let element">{{ element.model.name }}</td>
            </ng-container>
            <!-- Model Memory -->
            <ng-container matColumnDef="Model Memory" class="hideOnMobile">
                <th class="hideOnMobile" mat-header-cell *matHeaderCellDef>Model Memory</th>
                <td class="hideOnMobile" mat-cell *matCellDef="let element">{{ element.model.memory }}</td>
            </ng-container>

            <!-- SPECIFICATIONS -->
            <!-- Warranty -->
            <ng-container matColumnDef="Warranty" class="hideOnMobile">
                <th class="hideOnMobile" mat-header-cell *matHeaderCellDef>Warranty</th>
                <td class="hideOnMobile" mat-cell *matCellDef="let element">
                    @if(element.category=="Electronics"){
                        {{ element.specification.warranty }}
                    }
                    @else {
                        {{ element.warranty }}
                    }
                </td>
            </ng-container>

            <!-- Screen Size -->
            <ng-container matColumnDef="Screen Size" class="hideOnMobile">
                <th class="hideOnMobile" mat-header-cell *matHeaderCellDef>Screen Size</th>
                <td class="hideOnMobile" mat-cell *matCellDef="let element">
                    {{ element.specification.screenSize }}
                </td>
            </ng-container>


            <!-- NON ELECTRONIC -->
            <!-- brand name -->
            <ng-container matColumnDef="Brand Name" class="hideOnMobile">
                <th class="hideOnMobile" mat-header-cell *matHeaderCellDef>Brand Name</th>
                <td class="hideOnMobile" mat-cell *matCellDef="let element">{{ element.brandName }}</td>
            </ng-container>

            <!-- warranty -->
            <!-- <ng-container matColumnDef="Warranty" class="hideOnMobile">
                <th mat-header-cell *matHeaderCellDef>Warranty</th>
                <td mat-cell *matCellDef="let element">{{ element.warranty }}</td>
            </ng-container> -->

            <!-- color -->
            <ng-container matColumnDef="Color" class="hideOnMobile">
                <th class="hideOnMobile" mat-header-cell *matHeaderCellDef>Color</th>
                <td class="hideOnMobile" mat-cell *matCellDef="let element">{{ element.color }}</td>
            </ng-container>

            <!-- size -->
            <ng-container matColumnDef="Size" class="hideOnMobile">
                <th class="hideOnMobile" mat-header-cell *matHeaderCellDef>Size</th>
                <td class="hideOnMobile" mat-cell *matCellDef="let element">{{ element.size }}</td>
            </ng-container>

            <!-- dimensions -->
            <ng-container matColumnDef="Dimensions" class="hideOnMobile">
                <th class="hideOnMobile" mat-header-cell *matHeaderCellDef>Dimensions</th>
                <td class="hideOnMobile" mat-cell *matCellDef="let element">{{ element.dimensions }}</td>
            </ng-container>


            <!-- Price -->
            <ng-container matColumnDef="Price" class="hideOnMobile">
                <th class="hideOnMobile" mat-header-cell *matHeaderCellDef>Price</th>
                <td class="hideOnMobile" mat-cell *matCellDef="let element">{{ element.price }}</td>
            </ng-container>

            <!-- Assigned To -->
            <!-- TODO: PROPER ALIGNMENT OF BUTTON -->
            <ng-container matColumnDef="Assigned To">
                <th class="editHeader" mat-header-cell *matHeaderCellDef>
                    <span>Assigned To</span>
                    <!-- <button mat-button class="edit" (click)="routeToResourceAssignment()">
            <span class="material-symbols-outlined">edit</span>
          </button> -->
                </th>
                <td mat-cell *matCellDef="let element">{{ element.assignedTo }}</td>
            </ng-container>

            <!-- Status -->
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element" #status>
                    @if(element.status === "Assigned"){
                    <span id="assigned" class="material-symbols-outlined">
                        disabled_by_default
                    </span>
                    } @else if(element.status === "Available"){
                    <span id="available" class="material-symbols-outlined">
                        check_circle
                    </span>
                    }
                    <span id="statusText"> {{ element.status }} </span>
                </td>
            </ng-container>

            <ng-container matColumnDef=" ">
                <th mat-header-cell *matHeaderCellDef></th>
            </ng-container>

            <tr class="top" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="toggleRowSelection(row)"></tr>
            <!-- toggleRowSelection -->
            <!-- selection.toggle -->


            <!-- WHEN NO DATA MATCHES -->
            <ng-container *ngIf="input.value != ''">
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="*">
                        No data matching the filter "{{ input.value }}"
                    </td>
                </tr>
            </ng-container>

            <ng-container *ngIf="inputT.value != ''">
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="*">
                        No data matching the filter "{{ inputT.value }}"
                    </td>
                </tr>
            </ng-container>

            <ng-container *ngIf="inputS.value != ''">
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="*">
                        No data matching the filter "{{ inputS.value }}"
                    </td>
                </tr>
            </ng-container>

            <!-- TODO : FIX THIS! -->
            <ng-container *ngIf="input.value == ''">
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="*" style="
              text-align: center;
              font-size: medium;
              font-weight: bold;
              padding-top: 15px;
            ">
                        No data found!
                    </td>
                </tr>
            </ng-container>
            <!-- <ng-container *ngIf="inputS.value == ''">
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="11" style="
              text-align: center;
              font-size: medium;
              font-weight: bold;
              padding-top: 15px;
            ">
                        No data found!
                    </td>
                </tr>
            </ng-container> -->
        </table>

        <mat-paginator #paginator
            [pageSizeOptions]="pageSizeOptions" 
            aria-label="Select pages" 
            [pageSize]="pageSize" 
            [length]="length" 
            [pageIndex]="pageIndex"
            [showFirstLastButtons]="showFirstLastButtons"
            (page)="onPageChanged($event)">
        </mat-paginator>
    </section>
</main>
