@use '@angular/material' as mat;

.my-class-with-default-shadow {
  // Adds a shadow for elevation level 2 with default color and full opacity:
  @include mat.elevation(2);
}

.my-class-with-custom-shadow {
  // Adds a shadow for elevation level 2 with color #e91e63 and 80% of the default opacity:
  @include mat.elevation(2, #e91e63, 0.8);
}


* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 3%;
  background-color: white;
  min-height: 100vh;

  @media (max-width:680px) {
    padding-top: 15%;
  }
}

.hideOnMobile{
  @media (max-width: 600px){
    display: none;
  }


}

.row {
  width: 85%;
  display: flex;
  justify-content: space-between;

  @media (max-width:680px) {
    flex-flow: column;
    .filterBoxes{
      width: 100%;
      mat-form-field{
        width: 48%;
      }
    }
    .navButtons{
      justify-content: space-between;
      .addButton,
      #deleteButton{
        margin: 0;
        width: 48%;   
        // height: auto;   
      }

    }
  }
}

.navButtons {
  display: flex;
  align-items: center;
  justify-content: center;

  button:disabled{
      .material-symbols-outlined{
        color: rgb(174, 174, 174);
      } 
  }
  
  
  @media (max-width: 680px) {
    margin-bottom: 2%;
    // margin-top: 1%;
  }

}


// TODO: STYLE THE MASTER TOGGLE TOO AND CHANGE THE COLORS EW
// .mat-mdc-checkbox.mat-mdc-checkbox-checked.mdc-checkbox__background{
//   background-color: #e9d7ff !important;
// }


// #mat-mdc-checkbox-1-input{
//   background-color: #7a12f8 !important;
// }







.addButton,
#deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  padding: 8px;

  height: 35%;

  .text {
    flex: 1;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  // @media (min-width: 786px) {
    .text {
      vertical-align:super;
    }

  // }
}

.addButton .material-symbols-outlined,
#deleteButton .material-symbols-outlined {
  margin-right: 4px;
  font-size: 20px;
}

.filterBoxes {
  margin-top: 2%;
  display: flex;
  // flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  // width: 50%;

  @media (max-width: 680px) {
    display: none;
    
  }
}

.filterButton{
  display: none;
  width: max-content;
  // position: fixed;
  right: 0;
  top: 1;

  // @media (max-width: 680px){
  //   display: block;

  // }
}

// .checkBoxCol{
//   position: sticky;
//   left: 0;
// }

@media (max-width: 768px) {
  .addButton, #deleteButton{
    height: 47px;
  }
  
}

// @media (max-width: 680px) {
//   .hideOnMobile{
//     display: none;
//   }
  
// }

.mat-mdc-form-field {
  width: 35%;
  margin-bottom: 8px;
  margin-left: 6px;
  // height: 60%
}

// mat-form-field{
//   input{
//     height: 10%;
//   }
//   height:67px;
  
// }

mat-paginator {
  // width: 100%;
  // /* Ensure pagination section occupies full width */
  // display: flex;
  // /* Use flex display */
  // justify-content: flex-end;
  // /* Center the paginator horizontally */

  // @media (max-width: 768px) {
  //   width: 195%;

  // }
  position: sticky;
  left:0;
}

// .mat-mdc-paginator-container{
//   display: flex; /* Use flex display */
//   justify-content: center; /* Center the paginator horizontally */
//   width: 100%;
// }

section {
  width: 85%;
  overflow-x: auto;
  min-height: 50vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  @include mat.elevation(8);
}

table {
  @include mat.elevation(8);
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  overflow-x: auto;

}

td,
th {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
  width: auto;
  white-space: nowrap;
}

caption {
  font-size: larger;
  font-weight: bold;
  padding: 8px;
  text-align: left;

  width: 10%;

  position: sticky;
  right: 0;
}

// .captionP{
//   height: auto;
//   padding-left: 4px;
//   position: sticky;
//   left: 0;
// }

#assigned {
  color: gray;
  color: rgb(158, 158, 158);

}

#available {
  color: green;
  color: #00C2AA;
  color: rgb(0, 211, 0);
}

#statusText {
  vertical-align: super;
}



// *{
//     box-sizing: border-box;
// }

// main{

//   display: flex;
//   flex-flow: column;
//   align-items: center;

//   // padding: 0 15%;

//     // section{
//     //     // z-index: 1;
//     //     height: auto;
//     // }
//     // z-index: 1;
//     // margin: auto;
//     width: 100%;
//     height: 100vh;
//     // display: flex;
//     // row-gap: 0;

//     padding-top: 2%;
//     // margin-top: 45%;

//     // align-items: flex-start;
//     // justify-content: center;
//     // align-items: flex-start;
//     // flex-flow: row wrap;

//     background-color: #fff;
// }

// section{
//   // TODO: CHECK
//   width: 85%;
// }
// // FROM OFFICIAL SITE
// table {

//   table-layout: fixed;


//   // margin: auto;

//     // margin: auto;
//     width: 100%;
//     height: auto;

//     background-color: white;
//   }

// //   the search boxes
//   .mat-mdc-form-field {
//     font-size: 14px;
//     width: 70%;
//     // margin: auto;
//     padding: 5%;
//   }

//   td, th {
//     text-align: center;
//     // width: 10%;
//     width: calc(100% / 11);
//     border-right: thin solid rgb(233, 233, 233);

//     // overflow: hidden;
//   // width: auto;
//   // text-overflow: ellipsis;
//   // white-space: nowrap;
//   }
//   // TODO: WHAT TO DO IF A LOT OF DATA
//   // td{
//   //   overflow:auto;
//   // }

// //   th{
// //     text-align: center;
// //   }
// //   

// // th{
// //     border-right: thin solid gray;
// // }

// // table{
// //     height: auto;
// //     // width: 90%;

// //     border-right: 1px solid rgb(168, 168, 168);
// //     // padding: 2%;


// // }


// // th{
// //     text-align: center;
// //     border-right: 1px solid rgb(168, 168, 168);
// // }

// // td{
// //     border-right: 1px solid rgb(168, 168, 168);
// //     border-bottom: none;
// // }

// .top{
//     border-top: 1px solid rgb(168, 168, 168);
//     border-bottom: 1px solid rgb(168, 168, 168);
// }

// mat-paginator{
//   width: 100%;
// }

// .row{
//   // margin: auto;
//     width: 85%;
//     display: flex;
//     justify-content: space-between;
//     // padding: 2% 0 0 1%;

//     .navButtons{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
//     .filterBoxes{
//         display: flex;
//         justify-content: space-evenly;
//         align-items: flex-start;
//         // width:40%;

//     }

//    > button {
//         margin: 16px 8px;
//         width: 40%;
//       }
// }

// .addButton, #deleteButton{

//     display: inline-flex;
//     align-items: center;
//     justify-content: center;

//     width: 100%;
//   margin: 8px 0;

//   .text {
//     width: calc(100% - 32px);
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//   }

//     // line-height: 0;
// }
// span.text{

//     display: inline-block;
//     text-align: center;
//     vertical-align: baseline;
//     // padding-bottom: 10%;
// }

// .material-symbols-outlined {
//   font-size: 24px; // Adjust icon size as needed

//   @media screen and (max-width: 768px) {
//     font-size: 16px; // Adjust icon size for mobile devices
//   }
// }

// // span#icon{
// //     padding: 0;
// // }

// #assigned{
//   color: gray;
// }
// #available{
//   color: green;
// }

// caption{
//     font-size: larger;
//     background-color: white;
//     font-weight: bold;
//     padding: 1%;
//     border-bottom: thin solid rgb(198, 198, 198);
//     text-align: left;
// }

// // button.edit{
// //     width: 1%;
// //     height: 10%;
// //     // text-align: left;
// // }

// // .mat-mdc-button-touch-target{
// //     width: 5%;
// // }


// // mat-button.edit{
// //   width: 1px;
// // }

// // mat-mdc-button-persistent-ripple{
// //   width: 1px;
// // }

// // .material-symbols-outlined, .edit, .mat-mdc-button-touch-target{
// //   transform: scale(0.5);
// //   text-align: right;
// //   align-self: flex-end;
// // }

// .editHeader{
//   position: relative;
//   padding-left: 4px;
//   text-align: left;
// }

// button.edit {
//   position: absolute;
//   top: 20%;
//   right: -15px;
//   // transform: translateY(-50%);
//   transform: scale(0.9);

// }