main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

form {
    background-color: white;

    margin-top: 5%;
    padding-top: 5%;
    width: 30%;
    display: flex;
    flex-flow: column;

    @media (max-width: 768px) {
        width: 50%;
    }
    @media (max-width: 680px) {
        width: 70%;
        margin-top: 19%;
    }
}

.buttons {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
    width: 100%;

    button {
        margin: 4px 0;
        width: 100%;
    }
}

#submit:enabled {
    background-image: linear-gradient(to right, #c493ff, #ff99d0, #ffb9b0, #ffdfb7, #fefedf);
}