
<app-display-table
  [data]="inventoryItems"
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="pageSize"
  [length]="length"
  [pageIndex]="pageIndex"
  [selectedItemIds]="selectedItemIds"
  [displayedColumns]="[
    'ID',
    'Category',
    'Sub-Category',
    'Model Name',
    'Model Memory',
    'Warranty',
    'Screen Size',
    'Price',
    'Assigned To',
    'Status'
  ]"
  (deleteItems)="deleteItems($event)"
  (unassignItems)="unassignSelectedItems($event)"
  (pageChanged)="onPageChanged($event)"
  (updateSelectedItems)="updateSelectedItems($event)"

>
</app-display-table>
<!-- TODO WHY IS THIS REQUIRING RELOAD EVERY TIME!? SUBSCRIBE!! -->
