<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" /> -->

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">

</head>

<header *ngIf="!router.url.includes('/login') && !router.url.includes('/signup')">
  <!-- <div class="titleDiv"> -->
  <h2 class="title">
    <span class="material-symbols-outlined" style="vertical-align: bottom; font-size: larger">
      inventory_2
    </span>
    <span style="vertical-align: middle" class="tilt-neon-font"> Inventory Management</span>
  </h2>
  <!-- </div> -->

  <div class="user">
    <button class="userButton" mat-raised-button [value]="buttonText">
      <!-- <mat-icon>user</mat-icon> --> 
      <!-- make as if on button username outside, and mail initials in circle  -->
      {{ buttonText }}
    </button>

    <div class="userBlock">
      <p>{{ mailId }}</p>
      <!-- <button class="account" mat-button [value]="buttonText" (click)="openDialog()" style="background: white;">
        <span class="material-symbols-outlined" style="color: black; vertical-align:text-bottom;">
          account_circle
          </span>
         Account 
      </button> -->
      <button mat-raised-button (click)="sidenav.close();logout()">Logout</button>
    </div>
  </div>
</header>


<mat-sidenav-container class="entire-container" [hasBackdrop]="hasBackdrop.value">
  <!-- entire page -->
  <!-- @if(!(router.url.includes('/login') || router.url.includes('/signup'))){ -->
    <mat-sidenav #sidenav name="sidenav" [mode]="mode.value!" [position]="position.value!" >
      <!-- *ngIf="!router.url.includes('/login') && !router.url.includes('/signup')" -->
      <!-- the side nav -->
    <p>
      <button mat-button class="menuButton" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button> 
    </p>
  
    <p>
      <button mat-button routerLink="/dashboard" routerLinkActive="active" (click)="sidenav.close()">
        <span class="material-symbols-outlined">
          dashboard
        </span>
        <span style="vertical-align: super; font-size: medium;" class="tilt-neon-font"> Dashboard </span>
      </button>
    </p>
  
    <p>
      <button mat-button routerLink="/inventories" routerLinkActive="active" (click)="sidenav.close()">
        <span class="material-symbols-outlined"> inventory </span>
        <span style="vertical-align: super; font-size: medium;" class="tilt-neon-font"> Inventories </span>
      </button>
    </p>
  
    <p>
      <button mat-button routerLink="/add-inventory" routerLinkActive="active" (click)="sidenav.close()">
        <span class="material-symbols-outlined">
          <!-- description -->
          library_add
        </span>
        <span style="vertical-align: super; font-size: medium;" class="tilt-neon-font"> Add Inventory </span>
      </button>
    </p>
  
    <p>
      <button mat-button routerLink="/resource-assignment" routerLinkActive="active" (click)="sidenav.close()">
        <span class="material-symbols-outlined"> edit </span>
        <span style="vertical-align: super; font-size: medium;" class="tilt-neon-font"> Assign Resource </span>
      </button>
    </p>
  
    <p>
      <button mat-button routerLink="/add-user" routerLinkActive="active" (click)="sidenav.close()">
        <span class="material-symbols-outlined"> person_add </span>
        <span style="vertical-align: super; font-size: medium;" class="tilt-neon-font"> Add User </span>
      </button>
    </p>
    </mat-sidenav>
  <!-- } -->
  


  <mat-sidenav-content>
    <!-- the main page content -->
    <p *ngIf="!router.url.includes('/login') && !router.url.includes('/signup')">   <!-- THIS WAS CAUSING THE WHITE STRIP ON TOP OF LOGIN AND SIGNUP PAGES!-->
      <button mat-button class="menuToggle" (click)="sidenav?.toggle()" *ngIf="!router.url.includes('/login') && !router.url.includes('/signup')">
        <mat-icon>menu</mat-icon>
      </button>
    </p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>