* {
  box-sizing: border-box;
}

// .header{
//   background-color: rgb(103, 58, 183);
//   padding: 20px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

header {
  z-index: 2;
  width: 100%;
  background-color: rgb(103, 58, 183);
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;

  box-shadow: 3px 7px 18px #888888;
  position: sticky;
  top: 0;
}

.title {
  color: white;
  flex-grow: 1;
}

// .user{

// }

// .userBlock{

// }

// .userButton{

// }

.user {
  z-index: 2;
  position: relative;

  &:hover {
    .userBlock {
      display: flex;
    }
  }

  .userButton {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: large;

    // TODO: CHECK THIS
    border: medium solid rgb(103, 58, 183);
    outline: thin solid lavenderblush;
  }

  .userBlock {
    z-index: 2;
    // width: 200%;
    padding: 7px;
    display: none;
    justify-content: center;
    flex-flow: column wrap;
    position: absolute;
    right: 20%;
    top: 100%;
    background-color: white;
    border: thin solid rgb(103, 58, 183);
    border-radius: 3%;
    text-align: center;
  }
}

.menuToggle {
  position: fixed;
  // top: 0;
  z-index: 100;
  width: auto;
  background-color: white;
  margin-top: 7px;

  // top: 0;
  // left: 0; /* Adjust position as needed */
  width: 50px;
  /* Adjust width as needed */
  height: 50px;
  /* Adjust height as needed */
  background-color: transparent;
  border: none;

  mat-icon {
    // position: sticky;
    // top: 0;
    width: auto;
    vertical-align: top;

    // z-index: 3;
    font-weight: bold;
    // font-size: x-large;
    transform: scale(1.7);
  }

  // color: rgb(103, 58, 183);
}

// -----------------------------------------------------------------

.entire-container {
  // TODO WHAT IS THIS
  // height: 100%;
  // border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: white;
}

.sidenav {
  // width: 30vw;
  display: flex;
  flex-flow: column;
  // justify-content: left;

  padding: 20px;

  // border: thin solid rgb(103, 58, 183);
  border: thin solid rgb(255, 215, 64);
  background-color: white;

  // background-color: rgb(103, 58, 183);
  // background-color: rgb(255, 215, 64);

  button {
    display: flex;
    // flex-flow: column;
    align-items: center;
    justify-content: left;
    // margin-bottom: -7px;
    width: 100%;

    text-align: left;

    font-size: medium;
    font-weight: bold;
    // color: white;
    // color: rgb(103, 58, 183);

    padding: 8px 16px;
    margin-bottom: 8px;
    /* Add margin between buttons */
    border: none;
    /* Remove default button border */
    background-color: transparent;

    &:hover {
      // TODO THE SIZE INCREASES ON HOVER
      // border: 0.5px solid rgb(103, 58, 183);
      // border: 0.5px solid rgb(222, 222, 222);
      border: 0.5px solid rgb(255, 215, 64);

      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.05);
    }

    .material-symbols-outlined {
      margin-right: 8px;
      /* Add spacing between icon and text */
    }
  }
}

// .userIcon{
//   text-align: left;
//   border-radius: 50%;
//   background-color: aqua;
// }

/* Responsive Styles */
@media screen and (max-width: 680px) {
  .toggle-button-area {
    flex-direction: column;
    padding: 2%;
  }

  .titleDiv {
    // margin-bottom: 10px;
    font-size: small;
  }

  .user {
    margin-top: 10px;
  }

  .userBlock {
    right: 0;
  }
}