

<!-- <main class="main">
  
</main>

<router-outlet /> -->

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>



<header class="toggle-button-area" *ngIf="!router.url.includes('/login')" >

  
  <div class="titleDiv">
    <h2><span class="material-symbols-outlined" style="vertical-align:bottom;  font-size: larger;">
      inventory_2
      </span> 
      <span style="vertical-align:middle;"> Inventory Management</span>
    </h2>
    </div>

    <!-- TODO WHAT ALIGNEMENT BUTTON TEXT -->
  
    <div class="user">
      <button mat-raised-button color="accent" class="userButton" [value]="buttonText">
        <!-- <mat-icon>user</mat-icon> -->
        <span class="buttontext">{{buttonText}}</span>
      </button>

      <div class="userBlock">
        <!-- <p>Hello!</p> -->
        <p>{{mailId}}</p>
        <button mat-button (click)="logout()">Logout</button>
      </div>
    </div>
    

</header>
<mat-drawer-container class="entire-container" autosize>

    <div >

        <!-- TODO: ADD AN AUTHENTICATION SERVICE?????!?!?!?! -->
      <button mat-icon-button color="accent" id="toggle" (click)="drawer?.toggle()" *ngIf="isAuthenticated">
        <mat-icon>menu</mat-icon>
      </button>


    </div>

    
    

    <div class="project-content">
      <router-outlet ></router-outlet>
    </div>
    

    <mat-drawer #drawer class="sidenav" mode="side" >
      <p> 
        <button mat-button routerLink="/inventories" routerLinkActive="active">
          <!-- <mat-icon>home</mat-icon> -->
          <span class="material-symbols-outlined">
            inventory
            </span>
            <span style="vertical-align:super;"> Inventories </span>
        </button>
      </p>
      
      <p> 
        <button mat-button routerLink="/add-inventory" routerLinkActive="active">
          <span class="material-symbols-outlined">
            description
            </span> 
          <span style="vertical-align:super;"> Add Inventory </span>
        </button>
      </p>
    </mat-drawer>

</mat-drawer-container>


