* {
  box-sizing: border-box;
}

// .header{
//   background-color: rgb(103, 58, 183);
//   padding: 20px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// <uniquifier>: Use a unique and descriptive class name


.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header {
  z-index: 2;
  width: 100%;
  height: 55px;
  // background-color:  #b0ffe5;
  // background-image: linear-gradient(to left top, #b0ffe5, #9ffbff, #b3f1ff, #dce4ff, #fed8ff); 
  // background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  // background-color: #fefedf;
  // background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

  // background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

  // background-image: linear-gradient(to left, #c493ff, #ff99d0, #ffb9b0, #ffdfb7, #fefedf);  // background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

  background-image: linear-gradient(to left, #c493ff, #ff99d0, #ffb9b0, #ffdfb7, #fefedf);  // rgb(103, 58, 183);
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: thin solid rgb(173, 173, 173);

  // box-shadow: 0px 0.5px 12px #888888;
  position: sticky;
  top: 0;

  @media (max-width: 680px) {
    font-size: small;
    
  }
}

.title {
  // color: white;
  color:black;
  flex-grow: 1;
}

// .user{

// }

// .userBlock{

// }

// .userButton{

// }

.user {
  z-index: 2;
  position: relative;

  // vertical-align: text-top;
  // align-self: center;
  // justify-self: center;

  &:hover {
    .userBlock {
      display: flex;
    }
  }

  .userButton {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: large;
    transform: scale(0.85);

    // vertical-align: super;

    // TODO: CHECK THIS
    // border: medium solid rgb(103, 58, 183);
    // outline: thin solid lavenderblush;

    background-image: linear-gradient(to left top, #b0ffe5, #9ffbff, #b3f1ff, #dce4ff, #fed8ff);
    background-image: linear-gradient(to right top,  #ffb9b0, #ffdfb7, #fefedf);  }

  .userBlock {
    z-index: 2;
    // width: 200%;
    padding: 7px;
    display: none;
    justify-content: center;
    // align-items: center;
    flex-flow: column wrap;
    position: absolute;
    right: 20%;
    top: 100%;
    background-color: white;
    border: thin solid rgb(103, 58, 183);
    border: thin solid #c493ff;  // rgb(103, 58, 183);

    border-radius: 3%;
    text-align: center;

    // button{
    //   // background-image: linear-gradient( 135deg, #69FF97 10%, #00E4FF 100%);    
    //   // background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
    //   // background-image: linear-gradient(to right top,  #ffb9b0, #ffdfb7, #fefedf);  
    // }
    button:hover{
      background-image: linear-gradient(to right, #c493ff, #ff99d0, #ffb9b0, #ffdfb7, #fefedf);  // rgb(103, 58, 183);

    }
  }
}

.menuToggle {
  position: fixed;
  // top: 0;
  z-index: 100;
  width: auto;
  background-color: white;
  margin-top: 12px;

  left: 4px;
  // top: 0;
  // left: 0; /* Adjust position as needed */
  // width: 50px;
  /* Adjust width as needed */
  // height: 50px;
  /* Adjust height as needed */
  background-color: transparent;
  border: none;

  mat-icon {
    // position: sticky;
    // top: 0;
    width: auto;
    vertical-align: top;
    font-size: larger;
    font-weight: bold;

    // z-index: 3;
    // font-weight: bold;
    // // font-size: x-large;
    transform: scale(1.5);

  }

  // color: rgb(103, 58, 183);
}

// -----------------------------------------------------------------

.entire-container {
  // TODO WHAT IS THIS
  // height: 100%;
  // border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: white;

}

mat-sidenav{
  padding: 1%;
}

.menuButton{
  mat-icon{
    font-size: larger;
    font-weight: bold;
    transform: scale(1.5);

  }
}

.material-symbols-outlined{
  // color:  #b0ffe5;
  color: transparent;
  background-clip: text;
  background-color: #c493ff;
  // background-image: linear-gradient( 135deg, #FFA8A8 10%, #FCFF00 100%);
  background-image: linear-gradient(to right top, #c493ff, #ff99d0, #ffb9b0);
    
  }

.sidenav {
  // width: 30vw;
  display: flex;
  flex-flow: column;
  // justify-content: left;

  padding: 20px;

  // border: thin solid rgb(103, 58, 183);
  border: thin solid rgb(255, 215, 64);
  background-color: white;

  // background-color: rgb(103, 58, 183);
  // background-color: rgb(255, 215, 64);

  button {
    display: flex;
    // flex-flow: column;
    align-items: center;
    justify-content: left;
    // margin-bottom: -7px;
    width: 100%;

    text-align: left;

    font-size: medium;
    font-weight: bold;
    // color: white;
    // color: rgb(103, 58, 183);

    padding: 8px 16px;
    margin-bottom: 8px;
    /* Add margin between buttons */
    border: none;
    /* Remove default button border */
    background-color: transparent;

    &:hover {
      // TODO THE SIZE INCREASES ON HOVER
      // border: 0.5px solid rgb(103, 58, 183);
      // border: 0.5px solid rgb(222, 222, 222);

      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.05);
    }

    .material-symbols-outlined {
      margin-right: 8px;
      /* Add spacing between icon and text */
    }
  }
}

// .userIcon{
//   text-align: left;
//   border-radius: 50%;
//   background-color: aqua;
// }

/* Responsive Styles */
@media screen and (max-width: 680px) {
  .toggle-button-area {
    flex-direction: column;
    padding: 2%;
  }

  .titleDiv {
    // margin-bottom: 10px;
    font-size: small;
  }

  .user {
    margin-top: 10px;
  }

  .userBlock {
    right: 0;
  }
}