<!-- 
    main -- whole page - flex box, center
    one mat-card  in center - flex box row - 50 50 - width 80%
    form side properly in centre
    div on right will have bg 
 -->

<main>
    <!-- <div class="container"> -->
        <mat-card id="adminExists" style="display: none; width: max-content; padding: 1%; text-align: center; background-color: #f4501e8a; position: fixed; top: 3%; z-index: 5;" color="warn">
            <p>Admin exists! please login or use another email </p>
        </mat-card>

    <mat-card class="container">
        <!-- <mat-card-header> -->

        <!-- <mat-card-title class="header">Signup</mat-card-title> -->

        <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
        <!-- </mat-card-header> -->

        

        <div class="nowrap">
            <div class="form-container">
                <header class="tilt-neon-font">
                    Signup
                </header>
                <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
                    <!--TODO: RESIZABLE ??  -->
                    <!-- TODO: add reset button -->
                    <!-- Username -->
                    <mat-form-field appearance="outline" class="form-group">
                        <mat-label>Username</mat-label>
                        <input matInput type="text" formControlName="username" required />
                    </mat-form-field>

                    <!-- Email-ID -->
                    <mat-form-field appearance="outline" class="form-group">
                        <mat-label>Email-ID</mat-label>
                        <input matInput type="email" formControlName="email" required />
                    </mat-form-field>
                    <!-- @if (form.controls['email'].invalid){
                        <mat-error class="form-control-feedback">
                          {{ getPasswordError() }}
                        </mat-error>
                        } -->

                    <!-- Password:  -->
                    <mat-form-field appearance="outline" class="form-group" id="password" (click)="showPasswordRequirements = true">
                        <mat-label>Password</mat-label>
                        <input #password matInput class="form-control" formControlName="password" required
                            [type]="hidePassword ? 'password' : 'text'" (blur)="onPasswordBlur()" />
                        <!-- @if (password.invalid){
                            <mat-error class="form-control-feedback">
                                   {{getPasswordError()}}
                            </mat-error>
                        } -->
                        <!-- @if(password.) -->
                        <button type="button" mat-icon-button matSuffix class="showPassword" (click)="hidePassword = !hidePassword"
                            [attr.aria-pressed]="hidePassword" id="hidePassword">
                            <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
                        </button>
                    </mat-form-field>

                    <!-- && password.invalid -->
                        <mat-card class='passwordConditions' *ngIf="showPasswordRequirements && form.controls['password'].invalid">
                            <mat-label
                            [ngClass]="form.controls['password'].hasError('required') || form.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'"
                            >
                            <!-- <i class="material-icons">
                                {{ form.controls['password'].hasError('required') ||
                                form.controls['password'].hasError('minlength') ? 'cancel' :
                                'check_circle' }}
                            </i> -->
                            <span class="material-symbols-outlined">
                                {{ form.controls['password'].hasError('required') || form.controls['password'].hasError('minlength') ? 'check_box_outline_blank' : 'check_box' }}
                            </span>
                            Must be at least 8 characters!
                            </mat-label>

                            <br>
                            <mat-label
                            class="col"
                            [ngClass]="form.controls['password'].hasError('required') || form.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'"
                            >
                            <!-- <i class="material-icons">
                                {{ form.controls['password'].hasError('required') ||
                                form.controls['password'].hasError('hasNumber') ? 'cancel' :
                                'check_circle' }}
                            </i> -->
                            <span class="material-symbols-outlined">
                                {{ form.controls['password'].hasError('required') ||
                                form.controls['password'].hasError('hasNumber') ? 'check_box_outline_blank' : 'check_box' }}
                            </span>
                            Must contain at least 1 number!
                            </mat-label>

                            <br>
                            <mat-label
                            class="col"
                            [ngClass]="form.controls['password'].hasError('required') || form.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'"
                            >
                            <!-- <i class="material-icons">
                                {{ form.controls['password'].hasError('required') ||
                                form.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                                'check_circle' }}
                            </i> -->
                            <span class="material-symbols-outlined">
                                {{ form.controls['password'].hasError('required') ||
                                form.controls['password'].hasError('hasCapitalCase') ? 'check_box_outline_blank' : 'check_box' }}
                            </span>
                            Must contain at least 1 in Capital Case!
                            </mat-label>

                            <br>
                            <mat-label
                            class="col"
                            [ngClass]="form.controls['password'].hasError('required') || form.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'"
                            >
                            <!-- <i class="material-icons">
                                {{ form.controls['password'].hasError('required') ||
                                form.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                                'check_circle' }}
                            </i> -->
                            <span class="material-symbols-outlined">
                                {{ form.controls['password'].hasError('required') ||
                                form.controls['password'].hasError('hasSmallCase') ? 'check_box_outline_blank' : 'check_box' }}
                            </span>
                            Must contain at least 1 Letter in Small Case!
                            </mat-label>

                            <br>
                            <mat-label
                            class="col"
                            [ngClass]="form.controls['password'].hasError('required') || form.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'"
                            >
                            <!-- <i class="material-icons">
                                {{ form.controls['password'].hasError('required') ||
                                form.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
                                'check_circle' }}
                            </i> -->
                            <span class="material-symbols-outlined">
                                {{ form.controls['password'].hasError('required') ||
                                form.controls['password'].hasError('hasSpecialCharacters') ? 'check_box_outline_blank' : 'check_box' }}
                            </span>
                            Must contain at least 1 Special Character!
                            </mat-label>

                            <div *ngIf="form.controls['password'].valid" class="text-success">
                                Strong password!
                            </div>
                        </mat-card>

                        <!-- <mat-error *ngIf="form.get('password').hasError('required')">
                            Password is required.
                        </mat-error>
                        <mat-error *ngIf="form.get('password').hasError('minlength')">
                            Password should be at least 8 characters.
                        </mat-error>
                        <mat-error *ngIf="form.get('password').hasError('hasNumber')">
                            Password must contain at least one number.
                        </mat-error>
                        <mat-error *ngIf="form.get('password').hasError('hasCapitalCase')">
                            Password must contain at least one uppercase letter.
                        </mat-error>
                        <mat-error *ngIf="form.get('password').hasError('hasSmallCase')">
                            Password must contain at least one lowercase letter.
                        </mat-error>
                        <mat-error *ngIf="form.get('password').hasError('hasSpecialCharacters')">
                            Password must contain at least one special character.
                        </mat-error> -->
                        

                    <!-- Confirm Password:  -->
                    <mat-form-field appearance="outline" class="form-group" id="confirmPassword">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput class="form-control" formControlName="confirmPassword" required
                            [type]="hideConfirmPassword ? 'password' : 'text'" />
                        <button type="button" mat-icon-button matSuffix class="showConfirmPassword" (click)="hideConfirmPassword = !hideConfirmPassword"
                            [attr.aria-pressed]="hideConfirmPassword" id="hideConfirmPassword">
                            <mat-icon>{{ hideConfirmPassword ? "visibility_off" : "visibility" }}</mat-icon>
                        </button>
                    </mat-form-field>

                    <mat-label
                        class="error"
                        *ngIf="form.controls['confirmPassword'].touched && form.get('confirmPassword')?.hasError('NoPasswordMatch')"
                        >
                        Passwords do not match
                    </mat-label>
                    <!-- *ngIf="form.controls['confirmPassword'].hasError('NoPasswordMatch')" -->



                    <!-- SUBMIT -->
                    <div class="buttons">
                        <button id="submit" mat-raised-button color="primary" [disabled]="form.invalid" type="submit">
                            Submit
                        </button>
                        <button mat-raised-button class="reset-button" (click)="formReset()" type="reset">
                            Reset
                        </button>
                    </div>
                    
                </form>
                <footer>
                    <p> Have an account? <button mat-button (click)="routeToLoginPage()">Login</button></p>
                </footer>
            </div>
            <!-- </mat-card> -->

            <!-- <mat-card class="container" style="background-image: url('../../assets/anotherInventory.png');"> -->
            <div class="bgimg">
                <p></p>
            </div>
        </div>

        <!-- <mat-footer-row> -->

            <!-- <mat-card-footer>
               <p> Have an account? <button mat-button (click)="routeToLoginPage()">Login</button></p>
            </mat-card-footer> -->

        <!-- </mat-footer-row> -->

    </mat-card>

    <!-- <mat-card class="loading" style="display:none; position: fixed; background-color: rgb(183, 183, 183); z-index: 3; display: flex; justify-content: center; align-items: center;"> -->
    <div id="overlay">
        <mat-spinner id="spinner" style="z-index: 2; position: fixed; "></mat-spinner>
    </div>

    <!-- </mat-card> -->
    <!-- </div> -->
</main>